<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
</head>
<body>
  <div th:replace="~{fragments/header.html :: header}"></div>
  <div>
      <form method="post" th:action="@{/livro/editar/{id}(id = ${idLivro})}" th:object="${livro}">
        <h2><span th:text="${#messages.msg('editar.livro')}"></span></h2>
        <input type="hidden" th:field="${idLivro}">
        <br>
        <table>
          <tr>
            <td><span th:text="${#messages.msg('titulo.cadastrado')}"></span></td>
            <td><input type="text" th:field="*{titulo}"></td>
          </tr>
          <tr>
            <td><span th:text="${#messages.msg('autor.cadastrado')}"></span></td>
            <td><input type="text" th:field="*{autor}"></td>
          </tr>
          <tr>
            <td><span th:text="${#messages.msg('categoria.cadastrada')}"></span></td>
            <td>
              <select name="categoria" th:field="*{categoria}">
                <option name="ROMANCE" value="ROMANCE"><span th:text="${#messages.msg('tipo.romance')}"></span></option>
                <option name="FICCAO" value="FICCAO"><span th:text="${#messages.msg('tipo.ficcao')}"></span></option>
                <option name="FANTASIA" value="FANTASIA"><span th:text="${#messages.msg('tipo.fantasia')}"></span></option>
              </select>
            </td>
          </tr>
          <tr>
            <td><span th:text="${#messages.msg('preco.cadastrado')}"></span></td>
            <td><input type="text" th:field="*{preco}"></td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td><input type="text" th:field="*{isbn}"></td>
          </tr>
          <tr>
            <button type="submit"><span th:text="${#messages.msg('atualizar.livro')}"></span></button>
          </tr>
        </table>
      </form>
  </div>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>