<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booklist</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <div class="main_content">
        <h2><span th:text="${#messages.msg('livros.cadastrados')}"></span></h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th><span th:text="${#messages.msg('titulo.cadastrado')}"></span></th>
                    <th><span th:text="${#messages.msg('acoes.cadastro')}"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${listaLivros}">
                    <td th:text="${livro.id}">ID</td>
                    <td th:text="${livro.titulo}"><span th:text="${#messages.msg('titulo.cadastrado')}"></span></td>
                    <td>
                        <button th:attr="onclick=|showModal('infModal' + ${livro.id})|">
                            <span th:text="${#messages.msg('detalhes.livro')}"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:each="livro : ${listaLivros}" th:attr="id=${'infModal' + livro.id}" style="display: none;">
            <br>
            <h3><span th:text="${#messages.msg('attr.detalhes.livro')}"></span></h3>
            <p>
                <strong>ID:</strong> <span th:text="${livro.id}"></span><br>
                <strong><span th:text="${#messages.msg('titulo.cadastrado')}"></span>:</strong> <span th:text="${livro.titulo}"></span><br>
                <strong><span th:text="${#messages.msg('autor.cadastrado')}"></span>:</strong> <span th:text="${livro.autor}"></span><br>
                <strong><span th:text="${#messages.msg('categoria.cadastrada')}"></span>:</strong> <span th:text="${livro.categoria.descricao}"></span><br>
                <strong><span th:text="${#messages.msg('preco.cadastrado')}"></span>:</strong> <span th:text="${livro.preco}"></span><br>
                <strong>ISBN:</strong> <span th:text="${livro.isbn}"></span><br>
                <a th:href="@{/livro/edicao/{id}(id = ${livro.id})}"><span th:text="${#messages.msg('editar.cadastro')}"></span></a>
                <span> | </span>
                <a th:href="@{/livro/deletar/{id}(id = ${livro.id})}"><span th:text="${#messages.msg('deletar.cadastro')}"></span></a>
            </p>
            <button th:attr="onclick=|hideModal('infModal' + ${livro.id})|"><span th:text="${#messages.msg('botao.fechar')}"></span></button>
        </div>
    </div>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>